.logo {
  fill: var(--ion-color-primary);
}

h5 {
  margin: 0;
}

.blue-page {
  & {
    --background: radial-gradient(circle at 20% 20%, #0083d7, #00174a);
  }
  * {
    --background: none;
    --color: white !important;
    --color-activated: white !important;
    --color-focused: white !important;
    --placeholder-color: white !important;
    --highlight-color-focused: white !important;
    --border-color: white !important;

    ion-label {
      color: white !important;
    }
    ion-button {
      --background: white;
      color: #0b4c83;
      --padding-top: 25px;
      --padding-bottom: 25px;
      --border-radius: 3px;
    }
  }
}

.btn-full-width {
  --background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  display: block;
  --padding-top: 15px;
  --padding-bottom: 15px;
  --border-radius: 3px;
  height: auto;
  width: 100%;
  font-size: 17px;
  text-transform: none;
}
.link-full-width {
  display: block;
  margin: 20px 0 10px 0;
  text-align: center;
  width: 100%;
}
.tab-page {
  margin-bottom: 20px;
}
#remember-password {
  --inner-padding-end: 0 !important;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-wrap{
  white-space: normal;
}

.header-row {
  padding-left: calc(var(--padding-start) + var(--ion-safe-area-left, 0px));
  padding-right: var(--padding-end);
}

h1,
h3,
h4 {
  margin: 0;
}

ion-list-header.md {
  font-size: 1.5em;
}

.grid-column-fullscreen {
  height: 100%;
  display: flex;
  flex-flow: column;
}
.flex-grow {
  flex-grow: 1;
}

.negative {
  &[color="primary"],
  *[color="primary"] {
    color: var(--ion-color-danger-shade) !important;
  }
  ion-button[fill="solid"] {
    --color: var(--ion-color-danger-contrast) !important;
    --background: var(--ion-color-danger-shade) !important;
  }

  ion-fab-button {
    --background: var(--ion-color-danger-shade) !important;
  }
}

.positive {
  &[color="primary"],
  *[color="primary"] {
    color: var(--ion-color-primary) !important;
  }
  ion-button[fill="solid"] {
    --color: var(--ion-color-primary-contrast) !important;
  }

  ion-fab-button {
    --background: var(--ion-color-primary) !important;
    --color: var(--ion-color-primary-contrast) !important;
  }
}

.zero {
  &[color="primary"],
  *[color="primary"] {
    color: var(--ion-light-dark) !important;
    --color: var(--ion-light-dark) !important;
    --background: var(--ion-color-dark-tint) !important;
  }
  ion-button[fill="solid"] {
    --color: var(--ion-color-dark-contrast) !important;
    --background: var(--ion-color-dark-tint) !important;
  }

  ion-fab-button {
    --background: var(--ion-color-medium) !important;
    --color: var(--ion-color-dark) !important;
  }
}

ion-fab {
  :not(:first-child) ion-fab-button {
    margin-bottom: 5px;
    position: relative;

    &::part(native) {
      width: 150px;
      height: 40px;
      font-size: 1.2em;
      border-radius: 20px;
      position: absolute;
      right: 0;
    }
  }
}
